/*
*= require jquery.dataTables
*= require jquery.dataTables_themeroller
*/


table.dataTable thead .sorting {
    background-image: url("../assets/sort_both.png");
}
table.dataTable thead .sorting_asc {
    background-image: url("../assets/sort_asc.png");
}
table.dataTable thead .sorting_desc {
    background-image: url("../assets/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
    background-image: url("../assets/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
    background-image: url("../assets/sort_desc_disabled.png");
}